<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="codethemes">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>CodeClub - Digital Product Showcase HTML Template</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700" rel="stylesheet">
    <!-- ===========================================
		CSS
	============================================= -->
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- start Header Area -->
<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-lg-2" id="logo">
                <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
            </div>
            <div class="col-lg-10 nav-wrap d-flex flex-row align-items-center">
                <nav id="nav-menu-container" class="ml-auto">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a href="">Home</a>
                            <ul>
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index2.html">Home Two</a></li>                            
                            </ul>
                        </li>  
                        <li><a href="category.html">Category</a></li>
                        <li><a href="user-account-profile.html">User Profile</a></li>
                        <li><a href="author-account-profile.html">Author Profile</a></li>                 
                        <li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                                <li><a href="upload-item.html">Upload Item</a></li>
                                <li><a href="theme-details-subscriber.html">Theme Details Subscriber</a></li>
                                <li><a href="cart.html">Cart</a></li>        
                                <li><a href="checkout.html">Checkout</a></li>        
                                <li><a href="confirmation.html">Confirmation</a></li>        
                                <li><a href="coupon-all.html">Coupon</a></li>        
                            </ul>
                        </li>                 
                    </ul> 
                </nav>
                <div class="cart relative">
                    <div class="single-shortcut top-cart mr-0">
                        <span class="icons icon-handbag"></span>
                        <span class="badge badge-light">04</span>
                    </div>
                    <div class="mini-cart">
                        <div class="total-amount d-flex justify-content-between">
                            <div class="title">
                                <h6>My Cart</h6>
                            </div>
                            <div class="amount">$1149.00</div>
                        </div>
                        <div class="single-cart-item d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct1.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Minimalistic shop</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $189.00 x 1</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="single-cart-item d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct2.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Real corporate</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $120.00 x 2</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="single-cart-item border-0 d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct3.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Multipurpose</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $240.00 x 3</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="proceed-btn text-center"><a href="checkout.html" class="primary-btn primary-btn-wr"><span>Proceed to checkout</span></a></div>
                    </div>
                </div>
                <a class="login-btn" href="login.html">Login</a>
            </div>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->



    <!-- Start common-header-sectiion -->
    <section class="common-header-sectiion relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-center pb-250 pt-250">
                <div class="col-lg-7 text-center relative">
                    <h1 class="text-uppercase text-white pb-20">
							25,326 themes and website templates starts from $5 
						</h1>
                    <p class="mb-0 text-white">
                        Join our 437,821 members today to download all of our 87 beautiful themes!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End common-header-sectiion -->

    <!-- Start theme-details -->
    <section class="theme-details pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <!-- details Tab navs -->
                    <ul class="nav nav-tabs d-flex justify-content-center offwhite-color-bg mb-60">
                        <li>
                            <a class="active" data-toggle="tab" href="#overview">Overview</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#review">Reviews</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#comments">Comments</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#support">Support</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <h2 class="pb-30 semi-bold">Softdash bootstrap4 html5 admin template</h2>                       
                </div>                  
                <div class="col-lg-9">
                    <!-- details Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="overview">
                            <!-- Overview section -->
                            <div class="overview-section">
                                <div class="theme-thumb">
                                    <img class="img-fluid" src="img/theme-img.jpg" alt="">
                                </div>
                                <div class="other-details">
                                    <h4 class="text-uppercase">Overview</h4>
                                    <p>
                                        Most people who work in an office environment, buy computer products, or have a computer at home have had the “fun” experience of dealing with technical support. It’s not always the easiest, or most pleasant, experience but hopefully this article will help you make the best of the situation the next time you call. Below you will find a list of things to keep in mind the next time your computer breaks down. 1.Stay calm – Don’t yell at the support person on the other end of the phone. He is there only to help and the more angry you are the less help you are going to get.
                                    </p>
                                    <p>

                                        2.Get to the point – Ask your question or explain your situation right away. Don’t beat around the bush. 3.Don’t be arrogant – You are calling technical support because you need help. Don’t try and be a smart guy. 4.Call for yourself.
                                    </p>
                                </div>
                                <div class="other-details">
                                    <h4 class="text-uppercase">Feaatures</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="support-list">
                                                <li>
                                                    <img src="img/bullet.png" alt="">Not All Blank Cassettes Are Created Equal
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">Help Finding Information Online
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">5 Reasons To Choose A Notebook Over
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">3 Simple Ways To Save A Bunch Of Money
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul class="support-list">
                                                <li>
                                                    <img src="img/bullet.png" alt="">Not All Blank Cassettes Are Created Equal
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">Help Finding Information Online
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">5 Reasons To Choose A Notebook Over
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">3 Simple Ways To Save A Bunch Of Money
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="other-details">
                                    <h4 class="text-uppercase">Compatibility</h4>
                                    <ul class="compatability-list">
                                        <li><img src="img/c1.png" alt=""></li>
                                        <li><img src="img/c2.png" alt=""></li>
                                        <li><img src="img/c3.png" alt=""></li>
                                        <li><img src="img/c4.png" alt=""></li>
                                    </ul>
                                </div>

                                <div class="other-details banners">
                                    <img class="img-fluid pb-30" src="img/banner1.jpg" alt="">
                                    <img class="img-fluid pb-30" src="img/banner2.jpg" alt="">
                                    <img class="img-fluid" src="img/banner3.jpg" alt="">
                                </div>
                            </div>
                            <!-- Overview section -->
                        </div>
                        <div class="tab-pane fade" id="review">
                            <!-- review section -->
                            <div class="review-section">
                                <div class="theme-thumb ">
                                    <img class="img-fluid" src="img/theme-img.jpg" alt="">
                                </div>
                                <div class="other-details">
                                    <h4 class="text-uppercase">Reviews</h4>
                                    <div class="media">
                                        <img class="mr-3" src="img/user-thumb.jpg" alt="">
                                        <div class="media-body">
                                            <div class="mt-0 d-flex review-title">
										    	<span>Not sure i was looking for this</span>
										    	<ul class="rate">
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="icons icon-star"></i></a></li>
										    	</ul>
										    </div>
                                            <p class="mb-0">
                                                Reviewed by: Travor James on <span>October 16th, 2017</span>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="pt-20 mb-0">
                                        Chances are unless you are very lucky you will go thru many different relationships before you find your special someone. Finding your sole mate is like gambling. In poker and blackjack you may have to play dozens of hands until you get a winning hand, and it is the same with relationships.During your life you will probably meet some people.
                                    </p>
                                </div>
                                <div class="other-details">
                                    <div class="media">
                                        <img class="mr-3" src="img/user-thumb2.jpg" alt="">
                                        <div class="media-body">
                                            <div class="mt-0 d-flex review-title">
										    	<span>Choosing The Best Photo Printer</span>
										    	<ul class="rate">
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="icons icon-star"></i></a></li>
										    	</ul>
										    </div>
                                            <p class="mb-0">
                                                Reviewed by: Travor James on <span>October 16th, 2017</span>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="pt-20 mb-0">
                                        Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading and deleting software.
                                    </p>
                                </div>
                                <div class="other-details">
                                    <div class="media">
                                        <img class="mr-3" src="img/user-thumb3.jpg" alt="">
                                        <div class="media-body">
                                            <div class="mt-0 d-flex review-title">
										    	<span>Understanding Operating Systems</span>
										    	<ul class="rate">
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="icons icon-star"></i></a></li>
										    	</ul>
										    </div>
                                            <p class="mb-0">
                                                Reviewed by: Travor James on <span>October 16th, 2017</span>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="pt-20 mb-0">
                                        As soon as Computerized Tomography or CT scans became accessible in the 1970s, they reformed the practice of neurology. They did the scans by transmitting x-ray streams all the way through the head at different positions and accumulating the x-ray streams on the other side that was not absorbed by the head.
                                    </p>
                                </div>
                                <div class="other-details">
                                    <div class="media">
                                        <img class="mr-3" src="img/user-thumb4.jpg" alt="">
                                        <div class="media-body">
                                            <div class="mt-0 d-flex review-title">
										    	<span>How Plasma Tvs And Lcd Tvs Differ</span>
										    	<ul class="rate">
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="icons icon-star"></i></a></li>
										    	</ul>
										    </div>
                                            <p class="mb-0">
                                                Reviewed by: Travor James on <span>October 16th, 2017</span>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="pt-20 mb-0">
                                        For business professionals caught between high OEM price and mediocre print and graphic output, there’s a solution: Business Express’s Eclipse line of compatible laser toner cartridges that meet or exceed OEM quality for 20% less than typical OEM price. While even brand name OEMs display “This cartridge may contain recycled components” on packaging.
                                    </p>
                                </div>
                                <div class="other-details">
                                    <div class="media">
                                        <img class="mr-3" src="img/user-thumb5.jpg" alt="">
                                        <div class="media-body">
                                            <div class="mt-0 d-flex review-title">
										    	<span>An Ugly Myspace Profile Will Sure Ruin Your Reputation</span>
										    	<ul class="rate">
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="rated icons icon-star"></i></a></li>
										    		<li><a href="#"><i class="icons icon-star"></i></a></li>
										    	</ul>
										    </div>
                                            <p class="mb-0">
                                                Reviewed by: Travor James on <span>October 16th, 2017</span>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="pt-20 mb-0">
                                        Every new computer that’s brought home from the store has an operating system installed onto it. But what most new computer users don’t realize, is that without an operating system, that computer would be a simple shell of possibilities. A powered computer lacking an operating system wouldn’t display anything more than a bunch of confusing text messages.
                                    </p>
                                </div>
                                <div class="review-form">
                                    <h6 class="text-center offwhite-color-bg">You must login and be a buyer of this download to submit a review</h6>
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Username or Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                        </div>
                                        <button type="submit" class="primary-btn mt-40">Login</button>
                                    </form>
                                </div>
                            </div>
                            <!-- review section -->
                        </div>
                        <div class="tab-pane fade" id="comments">
                            <!-- comment section -->
                            <div class="comment-section">
                                <div class="theme-thumb ">
                                    <img class="img-fluid" src="img/theme-img.jpg" alt="">
                                </div>
                                <div class="comment-top-wrap d-flex justify-content-between">
                                    <h4 class="text-uppercase">09 Comment</h4>
                                    <div class="comment-filter">
                                        <a class="text-uppercase" href="#">Oldest</a>
                                        <a class="text-uppercase" href="#">Newest</a>
                                    </div>
                                </div>
                                <div class="media other-details">
                                    <img class="mr-3" src="img/user-thumb.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="media other-details">
                                    <img class="mr-3" src="img/user-thumb2.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="media other-details comment-replay-one">
                                    <img class="mr-3" src="img/user-thumb3.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="media other-details comment-replay-two">
                                    <img class="mr-3" src="img/user-thumb4.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="media other-details comment-replay-one">
                                    <img class="mr-3" src="img/user-thumb5.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="media other-details">
                                    <img class="mr-3" src="img/user-thumb6.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="media other-details">
                                    <img class="mr-3" src="img/user-thumb7.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="media other-details">
                                    <img class="mr-3" src="img/user-thumb8.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Travor James</h5>
                                        <p class="mb-0">
                                            This looks amazing. i can’t beleive this would be so charming. thanks a lot!
                                        </p>
                                        <p class="mb-0 mt-20 comments-meta">
                                            updated 5 days ago <span class="ml-5 mr-5">•</span> <i class="icons icon-heart"></i> 01
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-area">
                                    <label for="exampleInputEmail1">Leave a comment, be nice</label>
                                    <textarea name="messege" class="w-100" placeholder="Enter Your Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Messege'" required></textarea>
                                    <button type="submit" class="primary-btn mt-40">Post it</button>
                                </div>
                            </div>
                            <!-- comment section -->
                        </div>
                        <div class="tab-pane fade" id="support">
                            <!-- Support section -->
                            <div class="overview-section">
                                <div class="theme-thumb ">
                                    <img class="img-fluid" src="img/theme-img.jpg" alt="">
                                </div>
                                <div class="support-section offwhite-color-bg d-flex flex-row align-items-center">
                                    <div class="logo">
                                        <img src="img/cp.png" alt="">
                                    </div>
                                    <div class="detials">
                                        <h4>Codepixar Supports this item </h4>
                                        <p class="mb-0">
                                            This author's response time can be up to 1 business day.
                                        </p>
                                    </div>
                                </div>
                                <div class="other-details">
                                    <h4 class="text-uppercase">Contact the author</h4>
                                    <p class="mb-0">
                                        This author will respond to buyers' questions and provides limited support through their own support system.
                                    </p>
                                </div>
                                <div class="other-details">
                                    <h4 class="text-uppercase">Item support includes</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="support-list">
                                                <li>
                                                    <img src="img/bullet.png" alt="">Not All Blank Cassettes Are Created Equal
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">Help Finding Information Online
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">5 Reasons To Choose A Notebook Over
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">3 Simple Ways To Save A Bunch Of Money
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul class="support-list">
                                                <li>
                                                    <img src="img/bullet.png" alt="">Not All Blank Cassettes Are Created Equal
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">Help Finding Information Online
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">5 Reasons To Choose A Notebook Over
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">3 Simple Ways To Save A Bunch Of Money
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="other-details">
                                    <h4 class="text-uppercase">However, item support does not include</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="support-list">
                                                <li>
                                                    <img src="img/bullet.png" alt="">Not All Blank Cassettes Are Created Equal
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">Help Finding Information Online
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <ul class="support-list">
                                                <li>
                                                    <img src="img/bullet.png" alt="">How To Protect Your Computer Werm
                                                </li>
                                                <li>
                                                    <img src="img/bullet.png" alt="">Video Games Playing With Imagination
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-area">
                                    <textarea name="messege" class="w-100" placeholder="Enter Your Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Messege'" required></textarea>
                                    <a href="#" class="primary-btn mt-30 mx-auto d-block">go to item support</a>
                                </div>
                            </div>
                            <!-- Support section -->
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 sidebar theme-details-sidebar">
                    <div class="single-sidebar">
                        <div class="price-title d-flex flex-row justify-content-between">
                            <h6>Minimalistic shop only</h6>
                            <h3 class="price">$39</h3>
                        </div>
                        <ul>
                            <li>01 year theme support</li>
                            <li>01 year theme updates</li>
                        </ul>
                        <a href="#" class="primary-btn">purchase only</a>
                    </div>

                    <div class="single-sidebar d-flex flex-row justify-content-between align-items-center total-downlaod">
                        <h6>Total Downloads</h6>
                        <h3>968</h3>
                    </div>

                    <div class="single-sidebar theme-details">
                        <h6>Theme Details</h6>
                        <ul class="theme-details-list">
                            <li><i class="icons icon-basket-loaded"></i> eCommerce, Magazine, Writing</li>
                            <li> <i class="icons icon-bell"></i> Theme version: 4.3.5</li>
                            <li><i class="icons icon-notebook"></i>View help file</li>
                            <li><i class="icons icon-wrench"></i>Sass files included</li>
                            <li><i class="icons icon-cloud-upload"></i>Download child theme</li>
                        </ul>
                    </div>

                    <div class="single-sidebar theme-tags">
                        <h6>Tags</h6>
                        <ul class="tag-list">
                            <li> <i class="icons icon-folder"></i> <a href="#">Bootstrap templates</a>,<a href="#"> business & services</a>, Marketing</li>
                            <li> <i class="icons icon-tag"></i> <a href="#">Agency</a>,<a href="#"> business</a>,<a href="#"> corporate</a></li>
                        </ul>
                        <div class="sidebar-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-banner relative mb-30">
                        <div class="banner-img">
                            <img class="img-fluid" src="img/banner-img1.jpg" alt="">
                        </div>
                        <div class="details">
                            <p class="text-white">
                                Having a trip to europe?
                                <br> Book your hotel from hotel jocky
                            </p>
                            <a href="#" class="primary-btn">book now</a>
                        </div>
                    </div>

                    <div class="sidebar-banner relative">
                        <div class="banner-img">
                            <img class="img-fluid" src="img/banner-img2.jpg" alt="">
                        </div>
                        <div class="details">
                            <p class="text-white">
                                Enjoy upto 30% off
                                <br> @Sabrosso Restaurant till oct 31st
                            </p>
                            <a href="#" class="primary-btn">Get Coupon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End theme-details -->

    <!-- Start counter-section -->
    <section class="counter-section counter-section2 section-gap primary-color-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-notebook"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>03K+</h1>
                            <p>Themes & templates</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-people"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>01M+</h1>
                            <p>Registered Users</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-cloud-download"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>100K+</h1>
                            <p>Downloads</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-earphones-alt"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>25K+</h1>
                            <p>Tickets Resolved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End counter-section -->

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row footer-top-wrap">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Company</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Life at our company</a></li>
                            <li><a href="#">Giving Back</a></li>
                            <li><a href="#">Meet the Team</a></li>
                            <li><a href="#">clubExpert</a></li>
                            <li><a href="#">ClubBootstrap</a></li>
                            <li><a href="#">Icofont</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Products</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">PSD Template</a></li>
                            <li><a href="#">HTML5 Template</a></li>
                            <li><a href="#">Wordpress Theme</a></li>
                            <li><a href="#">Joomla Extensions</a></li>
                            <li><a href="#">Matex pagebuilder </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Supports</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Forum</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">F.A.Qs</a></li>
                            <li><a href="#">clubExpert</a></li>
                            <li><a href="#">Contact Form </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Terms of Uses</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">Terms of Uses</a></li>
                            <li><a href="#">Copyright Notice</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Privacy Policy  </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Newsletter</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="newsletter-form" id="mc_embed_signup">
                            <form action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="d-flex form-wrap">
                                    <div class="wrap">
                                        <input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
                                    </div>
                                    <button class="submit-btn"><i class="icon icon-magnifier"></i></button>
                                </div>
                                <div class="info mt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom-wrap">
                <div class="col-lg-8 footer-bottom-left">
                    <p class="text-white">&copy; 2018 <a href="#">Codethemes</a>. All Rights Reserved.</p>
                    <p>
                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get.
                    </p>
                </div>
                <div class="col-lg-4 footer-bottom-right">
                    <p class="text-white">Social Media Reach</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>