/node_modules
/public/hot
/public/storage
/public/img/profiles
/public/images/profiles
/public/images/product
/public/images/commerce
/public/images/branch
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
