<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="codethemes">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>CodeClub - Digital Product Showcase HTML Template</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700" rel="stylesheet">
    <!-- ===========================================
		CSS
	============================================= -->
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- start Header Area -->
<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-lg-2" id="logo">
                <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
            </div>
            <div class="col-lg-10 nav-wrap d-flex flex-row align-items-center">
                <nav id="nav-menu-container" class="ml-auto">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a href="">Home</a>
                            <ul>
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index2.html">Home Two</a></li>                            
                            </ul>
                        </li>  
                        <li><a href="category.html">Category</a></li>
                        <li><a href="user-account-profile.html">User Profile</a></li>
                        <li><a href="author-account-profile.html">Author Profile</a></li>                 
                        <li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                                <li><a href="upload-item.html">Upload Item</a></li>
                                <li><a href="theme-details-subscriber.html">Theme Details Subscriber</a></li>
                                <li><a href="cart.html">Cart</a></li>        
                                <li><a href="checkout.html">Checkout</a></li>        
                                <li><a href="confirmation.html">Confirmation</a></li>        
                                <li><a href="coupon-all.html">Coupon</a></li>        
                            </ul>
                        </li>                 
                    </ul> 
                </nav>
                <div class="cart relative">
                    <div class="single-shortcut top-cart mr-0">
                        <span class="icons icon-handbag"></span>
                        <span class="badge badge-light">04</span>
                    </div>
                    <div class="mini-cart">
                        <div class="total-amount d-flex justify-content-between">
                            <div class="title">
                                <h6>My Cart</h6>
                            </div>
                            <div class="amount">$1149.00</div>
                        </div>
                        <div class="single-cart-item d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct1.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Minimalistic shop</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $189.00 x 1</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="single-cart-item d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct2.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Real corporate</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $120.00 x 2</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="single-cart-item border-0 d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct3.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Multipurpose</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $240.00 x 3</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="proceed-btn text-center"><a href="checkout.html" class="primary-btn primary-btn-wr"><span>Proceed to checkout</span></a></div>
                    </div>
                </div>
                <a class="login-btn" href="login.html">Login</a>
            </div>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->

    <!-- Start common-header-sectiion -->
    <section class="common-header-sectiion relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-between align-items-end user-header">
                <div class="col-lg-5 col-sm-8  col-12 relative d-flex pb-80 align-items-center user-details">
                    <div class="thumb">
                        <img src="img/user-thumb.jpg" alt="">
                    </div>
                    <div class="details ml-20">
                        <h3 class="text-white">Mark Wiens</h3>
                        <p class="text-white mb-0">
                            Bangladesh, Member since October 2017
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-12  text-right pb-80 user-sales-details">
                    <span class="text-white">Total Sales</span>
                    <h1 class="text-white mt-15">25</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End common-header-sectiion -->

    <!-- Start Author Settings -->
    <section class="user-settings pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 usr-menu pb-120" id="usr-menu">
                    <!-- details Tab navs -->
                    <ul class="top-nav d-flex justify-content-center offwhite-color-bg">
                        <li>
                            <a href="author-account-profile.html">Profile</a>
                        </li>
                        <li>
                            <a href="author-account-portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a href="author-account-settings.html">Settings</a>
                        </li>
                        <li>
                            <a href="author-account-download.html">Downloads</a>
                        </li>
                        <li>
                            <a href="author-account-review.html">Reviews</a>
                        </li>
                        <li>
                            <a href="author-account-earnings.html">Earnings</a>
                        </li>
                        <li class="active">
                            <a href="author-account-statements.html">Statements</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Start Statements Section -->
            <div class="row justify-content-center stat-table-wrap">
                <div class="col-lg-9 stat-wrap-container">
                    <div class="settings-content stat-wrap">
                        <div class="button-top pb-10">
                            <a href="#" class="primary-btn">Last 30 days</a>
                            <a href="#" class="primary-btn white-btn">May 2018</a>
                            <a href="#" class="primary-btn white-btn">April 2018</a>
                            <a href="#" class="primary-btn white-btn">More options</a>
                        </div>
                        <div class="button-bottom d-flex">
                            <a href="#" class="primary-btn white-btn">Range</a>
                            <a href="#" class="primary-btn white-btn">Period</a>
                            <a href="#" class="primary-btn white-btn">Document Number</a>
                            <div class="dropdown">
                                <button class="btn primary-btn white-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Today
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">tomorrow</a>
                                    <a class="dropdown-item" href="#">yesterday</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn primary-btn white-btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All Transaction types
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#">type one</a>
                                    <a class="dropdown-item" href="#">type two</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn primary-btn white-btn dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All Marketplaces
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                    <a class="dropdown-item" href="#">Marketplace one</a>
                                    <a class="dropdown-item" href="#">MArketplace two</a>
                                </div>
                            </div>
                            <a href="#" class="primary-btn white-btn"><i class="icons icon-magnifier"></i></a>
                        </div>
                        <table class="table table-striped mt-40 stat-table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Order Id</th>
                                    <th>Type</th>
                                    <th>Details</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>09 may 2018</td>
                                    <td>82968703</td>
                                    <td>Author Fee</td>
                                    <td>Author fee for sale IVIP25471580</td>
                                    <td class="price">$1.50</td>
                                    <td class="amount-red">$-1.50</td>
                                </tr>
                                <tr>
                                    <td>09 may 2018</td>
                                    <td>82968703</td>
                                    <td>Sale</td>
                                    <td>Apexis - Software & WebApp HTML5 Template</td>
                                    <td class="price">$4.00</td>
                                    <td class="amount-green">$4.00</td>
                                </tr>
                                <tr>
                                    <td>09 may 2018</td>
                                    <td>82968703</td>
                                    <td>Author Fee</td>
                                    <td>Author fee for sale IVIP25471580</td>
                                    <td class="price">$1.50</td>
                                    <td class="amount-red">$-1.50</td>
                                </tr>
                                <tr>
                                    <td>09 may 2018</td>
                                    <td>82968703</td>
                                    <td>Sale</td>
                                    <td>Apexis - Software & WebApp HTML5 Template</td>
                                    <td class="price">$4.00</td>
                                    <td class="amount-green">$4.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="earning-sidebar top-country">
                        <h4>Earnings</h4>
                        <p>
                            Your sales and referral earnings over the last 30 days
                        </p>
                        <div class="funds-wrap d-flex justify-content-between">
                            <div class="my-funds">
                                <p class="title">My Funds</p>
                                <h1 class="semi-bold">$4.20</h1>
                            </div>
                            <div class="my-earning">
                                <p class="title">Earning</p>
                                <h6 class="semi-bold">+$8.00</h6>
                            </div>
                            <div class="my-fees">
                                <p class="title">Fees</p>
                                <h6 class="semi-bold">-$3.00</h6>
                            </div>
                        </div>
                        <a href="#" class="print-link primary-color pt-60">Print this overview</a>
                    </div>
                    <div class="invoice-wrap top-country">
                        <h4>view invoices</h4>
                        <div class="dropdown-wrap d-flex justify-content-between align-items-center">
                            <div class="dropdowns w-100">
                                <select>
                                    <option value="1">April 2018</option>
                                    <option value="2">May 2018</option>
                                    <option value="3">June 2018</option>
                                </select>
                            </div>
                            <a href="#" class="primary-btn"> <i class="icons icon-cloud-download"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Statements Section -->
        </div>
    </section>
    <!-- End Author Settings -->

    <!-- Start counter-section -->
    <section class="counter-section counter-section2 section-gap primary-color-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-notebook"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>03K+</h1>
                            <p>Themes & templates</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-people"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>01M+</h1>
                            <p>Registered Users</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-cloud-download"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>100K+</h1>
                            <p>Downloads</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter d-flex flex-row align-items-center">
                        <div class="ico">
                            <i class="icons icon-earphones-alt"></i>
                        </div>
                        <div class="count-wrap">
                            <h1>25K+</h1>
                            <p>Tickets Resolved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End counter-section -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row footer-top-wrap">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Company</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Life at our company</a></li>
                            <li><a href="#">Giving Back</a></li>
                            <li><a href="#">Meet the Team</a></li>
                            <li><a href="#">clubExpert</a></li>
                            <li><a href="#">ClubBootstrap</a></li>
                            <li><a href="#">Icofont</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Products</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">PSD Template</a></li>
                            <li><a href="#">HTML5 Template</a></li>
                            <li><a href="#">Wordpress Theme</a></li>
                            <li><a href="#">Joomla Extensions</a></li>
                            <li><a href="#">Matex pagebuilder </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Supports</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Forum</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">F.A.Qs</a></li>
                            <li><a href="#">clubExpert</a></li>
                            <li><a href="#">Contact Form </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Terms of Uses</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">Terms of Uses</a></li>
                            <li><a href="#">Copyright Notice</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Privacy Policy  </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Newsletter</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="newsletter-form" id="mc_embed_signup">
                            <form action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="d-flex form-wrap">
                                    <div class="wrap">
                                        <input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
                                    </div>
                                    <button class="submit-btn"><i class="icon icon-magnifier"></i></button>
                                </div>
                                <div class="info mt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom-wrap">
                <div class="col-lg-8 footer-bottom-left">
                    <p class="text-white">&copy; 2018 <a href="#">Codethemes</a>. All Rights Reserved.</p>
                    <p>
                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get.
                    </p>
                </div>
                <div class="col-lg-4 footer-bottom-right">
                    <p class="text-white">Social Media Reach</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>