<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="codethemes">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>CodeClub - Digital Product Showcase HTML Template</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700" rel="stylesheet">
    <!-- ===========================================
		CSS
	============================================= -->
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- start Header Area -->
<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-lg-2" id="logo">
                <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
            </div>
            <div class="col-lg-10 nav-wrap d-flex flex-row align-items-center">
                <nav id="nav-menu-container" class="ml-auto">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a href="">Home</a>
                            <ul>
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index2.html">Home Two</a></li>                            
                            </ul>
                        </li>  
                        <li><a href="category.html">Category</a></li>
                        <li><a href="user-account-profile.html">User Profile</a></li>
                        <li><a href="author-account-profile.html">Author Profile</a></li>                 
                        <li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                                <li><a href="upload-item.html">Upload Item</a></li>
                                <li><a href="theme-details-subscriber.html">Theme Details Subscriber</a></li>
                                <li><a href="cart.html">Cart</a></li>        
                                <li><a href="checkout.html">Checkout</a></li>        
                                <li><a href="confirmation.html">Confirmation</a></li>        
                                <li><a href="coupon-all.html">Coupon</a></li>        
                            </ul>
                        </li>                 
                    </ul> 
                </nav>
                <div class="cart relative">
                    <div class="single-shortcut top-cart mr-0">
                        <span class="icons icon-handbag"></span>
                        <span class="badge badge-light">04</span>
                    </div>
                    <div class="mini-cart">
                        <div class="total-amount d-flex justify-content-between">
                            <div class="title">
                                <h6>My Cart</h6>
                            </div>
                            <div class="amount">$1149.00</div>
                        </div>
                        <div class="single-cart-item d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct1.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Minimalistic shop</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $189.00 x 1</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="single-cart-item d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct2.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Real corporate</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $120.00 x 2</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="single-cart-item border-0 d-flex justify-content-between align-items-center">
                            <a href="#"><img src="img/cart/ct3.jpg" alt=""></a>
                            <div class="middle">
                                <h5><a href="#">Multipurpose</a></h5>
                                <h6><span class="lnr lnr-tag"></span> $240.00 x 3</h6>
                            </div>
                            <div class="cross"><span class="lnr lnr-cross"></span></div>
                            <input type="radio" name="gender" value="male" checked>
                        </div>
                        <div class="proceed-btn text-center"><a href="checkout.html" class="primary-btn primary-btn-wr"><span>Proceed to checkout</span></a></div>
                    </div>
                </div>
                <a class="login-btn" href="login.html">Login</a>
            </div>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->

    <!-- Start common-header-sectiion -->
    <section class="common-header-sectiion relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-center pb-250 pt-250">
                <div class="col-lg-7 text-center relative">
                    <h1 class="text-uppercase text-white pb-20">Confirmation</h1>
                    <p class="mb-0 text-white menu-nav">
                        <a href="index.html">Home</a>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a href="confirmation.html">Confirmation</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End common-header-sectiion -->

    <!-- Start Checkout Area -->
    <div class="container pt-120">
        <p class="text-center text-black">Thank you. Your order has been received.</p>
        <div class="row mt-50">
            <div class="col-md-4">
                <h4 class="billing-title mt-20">Order Info</h4>
                <table class="order-rable mt-20">
                    <tr>
                        <td>Order number</td>
                        <td> : 60235</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td> : Oct 03, 2017</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td> : USD 2210</td>
                    </tr>
                    <tr>
                        <td>Payment method</td>
                        <td> : Check payments</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4 class="billing-title mt-20">Billing Address</h4>
                <table class="order-rable mt-20">
                    <tr>
                        <td>Street</td>
                        <td> : 56/8 panthapath</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td> : Dhaka</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td> : Bangladesh</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td> : 1205</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4 class="billing-title mt-20">Shipping Address</h4>
                <table class="order-rable mt-20">
                    <tr>
                        <td>Street</td>
                        <td> : 56/8 panthapath</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td> : Dhaka</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td> : Bangladesh</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td> : 1205</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- End Checkout Area -->
    <!-- Start Billing Details Form -->
    <div class="container pb-120">
        <div class="billing-form">
            <div class="row">
                <div class="col-12">
                    <div class="order-wrapper mt-50">
                        <h4 class="billing-title mb-10">Order Details</h4>
                        <div class="order-list">
                            <div class="list-row d-flex justify-content-between">
                                <div>Product</div>
                                <div>Total</div>
                            </div>
                            <div class="list-row d-flex justify-content-between">
                                <div>Pixelstore fresh Blackberry</div>
                                <div class="semi-bold">x 02</div>
                                <div>$720.00</div>
                            </div>
                            <div class="list-row d-flex justify-content-between">
                                <div>Pixelstore fresh Blackberry</div>
                                <div class="semi-bold">x 02</div>
                                <div>$720.00</div>
                            </div>
                            <div class="list-row d-flex justify-content-between">
                                <div>Pixelstore fresh Blackberry</div>
                                <div class="semi-bold">x 02</div>
                                <div>$720.00</div>
                            </div>
                            <div class="list-row d-flex justify-content-between">
                                <h6 class="semi-bold">Subtotal</h6>
                                <div>$2160.00</div>
                            </div>
                            <div class="list-row d-flex justify-content-between">
                                <h6 class="semi-bold">Shipping</h6>
                                <div>Flat rate: $50.00</div>
                            </div>
                            <div class="list-row border-bottom-0 d-flex justify-content-between">
                                <h6 class="semi-bold">Total</h6>
                                <div class="total">$2210.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Billing Details Form -->

    <!-- Start cta-section -->
    <section class="cta-section2 section-gap primary-color-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3 class="text-uppercase text-white">Thousands of themes and templates in our
						themeclub those are quality work</h3>
                    <p class="pt-30 pb-30 text-white">
                        So, don’t hesitate to join our theme club. It’s resonable as well. Grab your chance and enjoy.
                    </p>
                    <a href="#" class="primary-btn white-btn">Join us with confidence</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End cta-section -->

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row footer-top-wrap">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Company</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Life at our company</a></li>
                            <li><a href="#">Giving Back</a></li>
                            <li><a href="#">Meet the Team</a></li>
                            <li><a href="#">clubExpert</a></li>
                            <li><a href="#">ClubBootstrap</a></li>
                            <li><a href="#">Icofont</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Products</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">PSD Template</a></li>
                            <li><a href="#">HTML5 Template</a></li>
                            <li><a href="#">Wordpress Theme</a></li>
                            <li><a href="#">Joomla Extensions</a></li>
                            <li><a href="#">Matex pagebuilder </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Supports</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Forum</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">F.A.Qs</a></li>
                            <li><a href="#">clubExpert</a></li>
                            <li><a href="#">Contact Form </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Terms of Uses</h4>
                        <ul class="widget-menu-list">
                            <li><a href="#">Terms of Uses</a></li>
                            <li><a href="#">Copyright Notice</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Privacy Policy  </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-uppercase">Newsletter</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="newsletter-form" id="mc_embed_signup">
                            <form action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="d-flex form-wrap">
                                    <div class="wrap">
                                        <input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
                                    </div>
                                    <button class="submit-btn"><i class="icon icon-magnifier"></i></button>
                                </div>
                                <div class="info mt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom-wrap">
                <div class="col-lg-8 footer-bottom-left">
                    <p class="text-white">&copy; 2018 <a href="#">Codethemes</a>. All Rights Reserved.</p>
                    <p>
                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get.
                    </p>
                </div>
                <div class="col-lg-4 footer-bottom-right">
                    <p class="text-white">Social Media Reach</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>